# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
*.ipr

# Java build files
target/
bin/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# JAR/WAR/EAR files
*.jar
*.war
*.ear

# Temporary files
*.class
*.swp
*~
